/_hg
/source/Funbit.Ets.Telemetry.Server/Funbit.Ets.Telemetry.Server.csproj.user
/source/Funbit.Ets.Telemetry.Server/bin
/source/Funbit.Ets.Telemetry.Server/obj
/source/Funbit.Ets.Telemetry.Mobile/bld
/source/Funbit.Ets.Telemetry.Mobile/bin
/source/packages
/source/*.suo
/Readme.txt
*.user
*.log
/_WorkingFiles
source/.vs/Funbit.Ets.Telemetry/v14/*