.hg
/*.hgignore
/source/Funbit.Ets.Telemetry.Server/Funbit.Ets.Telemetry.Server.csproj.user
/source/Funbit.Ets.Telemetry.Server/bin
/source/Funbit.Ets.Telemetry.Server/obj
/source/packages
/source/*.suo
/Readme.txt
/source/*.user
/_WorkingFiles