<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <appSettings>

    <!-- ============================================================================== -->
    <!-- Warning: don't forget to restart the server to reload updated configuration!   -->
    <!-- ============================================================================== -->
    
    <!-- When set to "true" the server will output test telemetry data -->
    <!-- which is read from the Ets2TestTelemetry.json file. --> 
    <!-- This is very helpful when you create/debug custom skins, -->
    <!-- because any changes to this json files will be immediately reflected on the dashboard. -->
    <add key="UseEts2TestTelemetryData" value="false" />

    <!-- HTTP ETS2/ATS Telemetry broadcasting URL (empty if not used) -->
    <!-- This URL should accept POST requests containing JSON body. -->
    <add key="BroadcastUrl" value="" />
    <!-- HTTP broadcasting rate -->
    <!-- Defines number of seconds to wait before sending next JSON telemetry object (1 minimum, 86400 maximum). -->
    <add key="BroadcastRate" value="10" />
    <!-- HTTP broadcasting user ID and password (to be able to identify users on the remote server) -->
    <!-- These values will be sent as HTTP headers: X-UserId and X-UserPassword as Base64 encoded UTF-8 string values -->
    <add key="BroadcastUserId" value="User" />
    <add key="BroadcastUserPassword" value="Password" />
   
    <!-- WebApi binding port (it is highly recommended not to change it!) -->
    <!-- (if you change the port here make sure that you change it inside config.js as well) -->
    <add key="Port" value="25555" />
   
  </appSettings>
  
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="Ets2Telemetry.log" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-4thread] [%-5level] %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
